In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#chargement fichiers
dfa_full = pd.read_csv("AllMoviesDetailsCleaned.csv", sep=";", low_memory=False, parse_dates=["release_date"])
dfb_full = pd.read_csv("AllMoviesCastingRaw.csv", sep=";", low_memory=False)

In [2]:
#Fusion fichiers par ids communes
df_full = pd.merge(dfa_full, dfb_full, on='id')
#Création fichier avec les seules données pertinentes
df_rel = df_full[['id','director_name','release_date']].sort_values(by='director_name',ascending=True)
#On defaulte toutes les dates manquantes à 01-01-1800
df_rel.fillna(pd.Timestamp('1800-01-01'))

            id            director_name release_date
45152    64300        \tCheung Chi-Sing   2002-01-24
208321  325586        \tCheung Chi-Sing   1996-06-22
175426  288647        \tCheung Chi-Sing   1994-08-06
202012  318617        \tCheung Chi-Sing   1994-03-03
45165    64315  \tRaymond Fung Sai-Hung   1986-01-30
183751  298329       \tHuang Jian-Zhong   2004-10-06
183909  298513       \tHuang Jian-Zhong   2005-05-13
222218  341564       \tHuang Jian-Zhong   1991-01-01
173047  285981       \tHuang Jian-Zhong   1988-02-01
171336  284093       \tHuang Jian-Zhong   1985-02-01
194335  310096             \tZhang Jing   2006-03-28
24733    38741             \tZhang Jing   2008-08-15
194334  310095             \tZhang Jing   2005-11-08
215761  334054           Faris Kermani    2013-07-30
51972    72938           Faris Kermani    2011-08-24
186383  301291        Anna van Keimpema   2013-02-01
192127  307669        Anna van Keimpema   2010-01-06
76953   114961       Barnaby Southcombe   2012-03-03
53782    75307                Ben Caron   2006-01-01
183642  298179       Dale Trevillion\t    1998-01-15
39462    56725       Dale Trevillion\t    1989-09-21
58124    80648       Dale Trevillion\t    2001-09-26
83400   127139       Dale Trevillion\t    1994-01-01
315320  453022       Dale Trevillion\t    1996-01-10
78511   117605       Dale Trevillion\t    1986-01-01
276092  406276            Davide Manuli   1998-01-01
81889   124091            Davide Manuli   2012-01-30
143864  251922          E.W. Swackhamer   1969-11-25
129957  225914          E.W. Swackhamer   1978-03-15
118665  203027          E.W. Swackhamer   1978-05-22
...        ...                      ...          ...
55400    77406                      郭春暉   1800-01-01
326176  465910                      金铁木   2006-08-09
55396    77401                      陳俊任   1800-01-01
175304  288502                       青元   2014-01-30
309786  446533                      马志宇   2013-08-11
284400  416326                      김기훈   2010-11-04
285932  418124                      김청기   1986-12-20
315369  453075                       김헌   2016-10-21
182089  296372                      남기웅   2014-02-10
313634  451121                      류정우   2016-01-21
249295  373860                      민경조   2015-10-12
285283  417338                      박태원   1800-01-01
309427  446118                      백승기   2016-08-18
284404  416330                      백승찬   1800-01-01
284402  416328                      서명수   1800-01-01
302497  437906                      이경규   1992-10-10
310038  446826                      이동희   2016-04-05
285287  417342                     이사무엘   1800-01-01
275425  405458                      이영준   2016-04-02
314136  451674                      이윤호   2017-03-30
312898  450237                      이진주   1800-01-01
285284  417339                       이하   2010-08-04
278508  409278                      정단우   2015-03-19
191162  306598                      진모영   2014-11-27
325559  465088                      최무연   2017-06-07
284398  416324                      최용석   1800-01-01
286360  418689                      최형렬   2016-09-29
310040  446828                      한상호   2012-01-26
305347  441189                      홍헌표   2017-01-18
225295  345183                    Ａ．Ｋ．Ｇ   2012-03-02

[329044 rows x 3 columns]

In [3]:
#Les 01-01-1900 sont aussi visiblement une valeur par défaut chez TMDB, on defaulte à 01-01-1800
serie = df_rel['release_date']==pd.Timestamp('1900-01-01')
df_rel.loc[serie,'release_date']=pd.Timestamp('1800-01-01')

#on defaulte à 01-01-1800 les valeurs nulles
serie = pd.isnull(df_rel['release_date'])
df_rel.loc[serie,'release_date']=pd.Timestamp('1800-01-01')

In [4]:
#extraction de l'année et réindexation
df_rel['release_date2']=df_rel['release_date'].map(lambda x:x.year)
#On réindexe
df_rel2 = df_rel.reset_index(drop = True)

In [6]:
#calcul du temps moyen entre films
df = df_rel2
#valeurs retenues pour chaque réal: nombre de films, liste des années de sortie des films
dir_time=dict()
x = 0
#parcours de la liste de réals
while x < len(df):
    dir_name = df.loc[x,'director_name']
    dir_time[dir_name] = {'movie_nb':0,'movie_nb_inclnodate':0, 'dates':[]}
    #les réals sont par ordre alphabétique, on parcourt la liste de films de chacun
    while df.loc[x,'director_name'] == dir_name :
        dir_time[dir_name]['movie_nb_inclnodate'] +=1
        if df.loc[x,'release_date2']!=1800:
            dir_time[dir_name]['movie_nb'] +=1
            #on ajoute la date à la liste si elle n'y est pas déjà
            if df.loc[x,'release_date2'] not in dir_time[dir_name]['dates']:
                dir_time[dir_name]['dates'].append(df.loc[x,'release_date2'])
            
        x += 1
        if x == len(df):
            break

#CALCUL DE LA MOYENNE
for key in dir_time:
    #valeur par défaut de 2 ans pour le 1er film
    if dir_time[key]['movie_nb']>0:
        min_date = min(dir_time[key]['dates'])
        max_date = max(dir_time[key]['dates'])
        avg=round((max_date - min_date + 2) / dir_time[key]['movie_nb'], 1)
    
    #valeur par défaut de 2 ans si les release_dates sont toutes defaultées
    else:
        min_date = 1800
        max_date = 1800
        avg=2
        
    #piste d'audit
    dir_time[key]['min_date']=min_date
    dir_time[key]['max_date']=max_date
    dir_time[key]['avg']=avg

In [7]:
with open('dir_avgtime2.csv','w',encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=';', lineterminator='\n')
    writer.writerow(('director_name', 'avg_time', 'min_date', 'max_date', 'movie_nb'))
    for director_name in dir_time:
        d = dir_time[director_name]
        writer.writerow((director_name, d["avg"], d["min_date"], d["max_date"],d["movie_nb"],d["movie_nb_inclnodate"] ))